{% ckan_extends %}
{#
Handle either old Pylons-style global variables, or newer template parameters.
#}
{% if datarequest is not defined %}
    {% set datarequest = c.datarequest %}
    {% set datasets = c.datasets %}
    {% set errors = c.errors %}
    {% set errors_summary = c.errors_summary %}
{% endif %}

{% block subtitle %}{{ _('Close data request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data requests'), named_route='datarequest.index' %}</li>
  <li>{% link_for datarequest.get('title')|truncate(30), named_route='datarequest.show', id=datarequest.get('id') %}</li>
  <li class="active"><a href="">{{ _('Close data request') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Close data request') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/close_datarequest_form.html", datarequest=datarequest, datasets=datasets, errors=errors, errors_summary=errors_summary  %}
{% endblock %}

{% block page_header %}{% endblock %}
