{% extends "datarequests/show.html" %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ _('Comments') }}</a></li>
  <!-- override -->
{% endblock %}


{% block primary_content_inner %}
  {#
  Handle either old Pylons-style global variables, or newer template parameters.
  #}
  {% if datarequest is not defined %}
    {% set datarequest = c.datarequest %}
    {% set userobj = c.userobj %}
  {% endif %}

  {% snippet "package/comment_list.html", content_type='datarequest', pkg_id=datarequest.id, pkg_name=datarequest.id, userobj=userobj %}

{% endblock %}
