{% ckan_extends %}
{% set datarequest = datarequest or c.datarequest %}
{% set errors = errors or c.errors %}
{% set errors_summary = errors_summary or c.errors_summary %}

{% block subtitle %}{{ _('Create data request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data requests'), named_route='datarequest.index' %}</li>
  <li class="active"><a href="">{{ _('Create data request') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Create data request') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/new_datarequest_form.html", data=datarequest, errors=errors, errors_summary=errors_summary %}
{% endblock %}

{% block secondary_content_additional_info %}
  <p>
    {% trans %}To create a data request, complete the form providing clear and relevant information in the applicable fields. Please be aware that the text entered in this data request will be publicly visible upon submission. {% endtrans %}
  </p>
{% endblock %}

