version: '2.3'

x-project:
  &project ckanext-data-qld

x-volumes:
  &default-volumes
  volumes:
    - /app/ckan ### Local overrides to mount host filesystem. Automatically removed in CI and PROD.
    - ./ckanext:/app/ckanext:${VOLUME_FLAGS:-delegated} ### Local overrides to mount host filesystem. Automatically removed in CI and PROD.
    ##- /app/filestore # Override for environment without host mounts. Automatically uncommented in CI.

x-environment:
  &default-environment
  AMAZEEIO: AMAZEEIO

x-user:
  &default-user
  # The default user under which the containers should run.
  # Change this if you are on linux and run with another user than id `1000`.
  user: '1000'

services:

  ckan:
    build:
      context: .
      dockerfile: .docker/Dockerfile.ckan
      args:
        SITE_URL: http://ckanext-data-qld.docker.amazee.io
    depends_on:
      - postgres
      - solr
    networks:
      - amazeeio-network
      - default
    ports:
      - "3000"
    image: *project
    <<: *default-volumes
    environment:
      <<: *default-environment
      AMAZEEIO_HTTP_PORT: 3000
      LAGOON_LOCALDEV_URL: http://ckanext-data-qld.docker.amazee.io
      AMAZEEIO_URL: ckanext-data-qld.docker.amazee.io

  postgres:
    image: amazeeio/postgres-ckan
    ports:
      - "5432"
    networks:
      - amazeeio-network
      - default
    <<: *default-user
    environment:
      <<: *default-environment

  postgres-datastore:
    image: amazeeio/postgres-ckan
    ports:
      - "5432"
    <<: *default-user
    networks:
      - amazeeio-network
      - default
    environment:
      <<: *default-environment

  redis:
    image: amazeeio/redis
    <<: *default-user
    environment:
      <<: *default-environment
    networks:
      - amazeeio-network
      - default

  solr:
    build:
      context: .
      dockerfile: .docker/Dockerfile.solr
    user: '8983'
    ports:
      - "8983"
    environment:
      <<: *default-environment
    networks:
      - amazeeio-network
      - default

  test:
    build:
      context: .
      dockerfile: .docker/Dockerfile.test
    depends_on:
      - ckan
    <<: *default-volumes
    <<: *default-user
    environment:
      <<: *default-environment
      # CHROME_BINARY_PATH: /usr/bin/google-chrome
      # DBUS_SESSION_BUS_ADDRESS: /dev/null
    shm_size: 256m
    networks:
      - amazeeio-network
      - default

volumes:
  solr-data: {}

networks:
  amazeeio-network:
    external: true
