{% ckan_extends %}

{% block errors %}
{% if errors_summary %}
  <div class="error-explanation alert alert-error">
  <p>{{ _('The form contains invalid entries:') }}</p>
  <ul>
    {% for key, error in errors_summary.items() %}
    <li data-field-label="{{ key }}">{{ error }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
{% endblock %}

{% block offering_title %}
{{ form.input('title', id='field-title', label=_('Subject'), placeholder=_('eg. Data Request Name'), value=title, error=errors['Title'], classes=['control-full'], is_required=true) }}
{% endblock %}


{% block offering_description %}  
  {% set suggested_description =  h.render_markdown(h.data_qld_datarequest_suggested_description())  %}  
  {% call form.markdown('description', id='field-description', label=_('Description'), placeholder=_('eg. Data Request description'), value=data.get('description', ''), error=errors['Description'], is_required=description_required) %}
    <div class="info-block info-inline">
    <i class="fa fa-info-circle"></i>
      <span style="display:inline-table;margin-left:-1em">{{ suggested_description }}</span>
    </div>
  {% endcall %}
{% endblock %}

{% block offering_organizations %}
  {% set organizations_available = h.data_qld_organisation_list() %}
  {% set organization_id_default =  h.data_qld_datarequest_default_organisation_id() %}
  {% set datarequest_id = data.get('id', '') %}
  {% set organization_id = data.get('organization_id', organization_id_default) %}

  {% if h.check_access('update_datarequest_organisation', {'id':datarequest_id, 'organization_id': organization_id })  %}
  <div class="control-group form-group">
    <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
    <div class="controls">
      <select id="field-organizations" name="organization_id" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
           <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {% set selected_org = (organization.id == organization_id)  %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% else %}
    {{ form.hidden('organization_id', organization_id) }}    
  {% endif %}

{% endblock %}