<div class="qa openness-{{ openness_score }}">
    {% if openness_score != None %}
      <span title="{{ _('Reason') }} : {{ openness_score_reason }} {{ _('Checked') }}: {{ h.render_datetime(updated) }}">
        <a href="https://www.data.qld.gov.au/article/standards-and-guidance/data-usability-rating" target="_blank">{{ _('Data usability rating') }}</a>
        : {% snippet "qa/snippets/stars.html", stars=openness_score %} <br>
        {% snippet "qa/snippets/stars_explained.html", openness_score=openness_score %} <br>
    {% else %}
      {{ _('No data usability rating information yet.') }}
    {% endif %}
</div>
