{% ckan_extends %}

{% set is_ckan_2_10 = h.check_ckan_version('2.10') %}

{% block header_wrapper %} {% block header_account %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if g.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>CKAN {{ h.ckan_version() }}</li>
        <li>
          <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for(h.dashboard_index_route()) }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
          {{ super() }}
        {% endblock %} {% block header_account_log_out_link %}
          {{ super() }}
        {% endblock %} {% endblock %}
        {% if h.is_datarequests_enabled() %}
        <li><a href="{{ h.url_for('datarequest.index') }}">Request data</a></li>
        {% endif %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="unstyled">
        {% block header_account_notlogged %}{{ super() }}{% endblock %}
        {% if h.is_datarequests_enabled() %}
        <li><a href="{{ h.url_for('datarequest.index') }}">Request data</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</div>
{% endblock %}
<header class="navbar navbar-static-top masthead">
  <div class="container">
    {% block header_debug %}
      {{ super() }}
    {% endblock %}

    <nav
      {% if is_ckan_2_10 %}
      class="navbar navbar-expand-lg navbar-light navbar-collapse"
      {% endif %}
    >
    {% if is_ckan_2_10 %}
    <hgroup class="{{ g.header_class }} navbar-left">
      <a class="logo" href="https://www.qld.gov.au" title="Link to Queensland Gov website">
        <img src="/qg-coa/qg-coa-white.svg" alt="Queensland Government" class="d-none d-sm-block">
        <img src="/qg-coa/qg-coa-stacked-white.svg" alt="Queensland Government" class="d-sm-none d-md-none d-lg-none d-xl-none">
        <img src="/qg-coa/qg-coa-stacked.svg" alt="Queensland Government" class="d-none d-sm-none d-md-none d-lg-none d-xl-none qg-print-coat-of-arms">
      </a>
      <div class="header__data-portal">
        <a href="/">Open Data Portal</a>
      </div>
    </hgroup>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation-toggle"
      aria-controls="main-navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-white"></span>
    </button>
    {% else %}
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      <a class="logo" href="https://www.qld.gov.au" title="Link to Queensland Gov website">
        <img src="/qg-coa/qg-coa-white.svg" alt="Queensland Government" class="hidden-xs">
        <img src="/qg-coa/qg-coa-stacked-white.svg" alt="Queensland Government" class="hidden-sm hidden-md hidden-lg">
        <img src="/qg-coa/qg-coa-stacked.svg" alt="Queensland Government" class="hidden-xs hidden-sm hidden-md hidden-lg qg-print-coat-of-arms">
      </a>
      <div class="header__data-portal">
        <a href="/">Open Data Portal</a>
      </div>
    </hgroup>
    {% endif %}

    <div class="main-navbar collapse navbar-collapse" id="main-navigation-toggle">
      <nav class="section navigation">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav nav-pills">
        {% block header_site_navigation %}
          {% block header_site_navigation_tabs %}
          {% set dataset_search_route = 'dataset.search' %}
          <li {% if h.current_url() != '/' %}class="active"{% endif %}><a href="{{ h.url_for(dataset_search_route) }}">Data</a></li>
          <li>
            <a href="/article/news-and-events">News and events</a>
          </li>
          <li>
            <a href="/article/case-studies">Case studies</a>
          </li>
          <li>
            <a href="/article/standards-and-guidance">Standards and guidance</a>
          </li>
          <li><a href="/article/contact">Contact</a></li>
          {% endblock %}
        {% endblock %}
        </ul>
      {% block header_site_search %}
        {{ super() }}
      {% endblock %}
      </nav>
    </div>
    </nav>
  </div>
</header>
{% endblock %}
