{% ckan_extends %}

{% block skip %}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ h.get_gtm_container_id() }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ h.get_gtm_container_id() }}');</script>
<!-- End Google Tag Manager -->

    {{ super() }}
{% endblock %}


{% block flash %}
    <div class="global-alert" style="background-color: #f18d0e; color: #000;">
        <div class="header">
            <h2 id="landmark-label7">Maintenance windows</h2>
            <time datetime="2019-07-10T17:00:00+10:00">Wednesday 10 July, 5-9PM AEST</time>
        </div>
        <div class="summary">
            <p>The Open Data portal will be undergoing maintenance during the maintenance window.</p>
            <p><strong>Service interruptions for public users are expected.</strong></p>
        </div>
    </div>
    {{ super() }}
{% endblock %}
