{% ckan_extends %}

{% block breadcrumb_content %}
    {% set route_name = 'organization_read' %}
    {% if h.ckan_version() > '2.9' %}
      {% set route_name = h.map_pylons_to_flask_route_name(route_name) %}
    {% endif %}
    <li>{% link_for _('Organizations'), named_route='organization.index' %}</li>
    <li>{% link_for pkg.organization.title, named_route=route_name, id=pkg.organization.name %}</li>

    <li class="active"><a href="{{ h.url_for('dataset_read', id=pkg.name) }}">{{ pkg.title }}</a></li>
{% endblock %}

{% block package_notes %}
    <section>
      {{ h.qa_openness_stars_dataset_html(pkg) }}
    </section>
 {{ super() }}
{% endblock %}

