{% ckan_extends %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
    {% if h.ytp_comments_show_comments_tab_page() %}   
        {{ h.build_nav_icon('dataset_comments', _('Comments') + ' ' + h.get_content_type_comments_badge(pkg.name, 'dataset'), dataset_id=pkg.name) }}
    {% endif %}
    {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
{% endblock %}