{% import 'macros/form.html' as form %}

{% macro select_with_disabled(name, id='', label='', options='', selected='', error='', classes=[], attrs={'class': 'form-control'}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
      <select id="{{ id or name }}" name="{{ name }}" {{ form.attributes(attrs) }}>
        {% for option in options %}
          <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %} {{ form.attributes(option.attrs) }}>{{ option.text or option.value }}</option>
        {% endfor %}
    </select>
  {% endcall %}
{% endmacro %}

{% macro data_qld_image_upload(data, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='', field_name='image_url')  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-image.jpg') %}
  {% set url_label = url_label or _('Image URL')  %}
  {% set upload_label = upload_label or _('Image')  %}
  {% set previous_upload = data['previous_upload'] %}

  {% if is_upload_enabled %}
  <div class="image-upload"
       data-module="data-qld-image-upload"
       data-module-is_url="{{ 'true' if is_url else 'false' }}"
       data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
       data-module-field_url="{{ field_url }}"
       data-module-field_upload="{{ field_upload }}"
       data-module-field_clear="{{ field_clear }}"
       data-module-upload_label="{{ upload_label }}"
       data-module-field_name="{{ field_name }}"
       data-module-previous_upload="{{ 'true' if previous_upload else 'false' }}">
  {% endif %}


  {{ form.input(field_url, label=url_label, id='field-image-url', type='url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full']) }}


  {% if is_upload_enabled %}
    {{ form.input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full']) }}
    {% if is_upload %}
      {{ form.checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    {% endif %}
  {% endif %}

  {% if is_upload_enabled %}</div>{% endif %}

{% endmacro %}
