{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}

<div id="content">
    <h1 class="visuallyhidden">Open Data Homepage</h1>
    <div class="hero-banner" style="background-image: url('https://www.qld.gov.au/__data/assets/image/0009/102204/qld-highway-ID-131896-6.jpg');">
        <div class="hero-banner__inner container">
            <div class="hero-banner__text-wrap">
                <h1>Discover, use and request Queensland Government open data</h1>
            </div>
            <div class="hero-banner__search">
                <h2 class="hero-banner__search-title">Search over 2,700 datasets and 11,000 resources</h2>
                <form action="/dataset" method="get" autocomplete="off">
                    <input type="text" name="q" placeholder="E.g Environment" aria-label="Search datasets" />
                    <button type="submit"><span class="sr-only">Submit search</span></button>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row wrapper">
            <article class="module">
                <div class="module-content">

                    <div class="tiles"><div class="tiles__item">

        <a href="https://www.qld.gov.au/data/news-and-events/new-look-data-portal" aria-label="Link to Welcome to the new open data portal" title="Welcome to the new open data portal" class="tiles__img" style="background-image: url('https://www.qld.gov.au/__data/assets/image/0020/104285/new-site-launch.jpg');"></a>

        <div class="tiles__title">
            <a href="https://www.qld.gov.au/data/news-and-events/new-look-data-portal">Welcome to the new open data portal</a>
        </div>

        <div class="tiles__sub-title">
            <a href="https://www.qld.gov.au/data/news-and-events">News and events</a>
        </div>

        <div class="tiles__content">
            <p>The new and improved open data portal is open for business… and for researchers, and for citizen data scientists, and…</p>
        </div>

        <div class="tiles__link">
            <a href="https://www.qld.gov.au/data/news-and-events/new-look-data-portal">Read more</a>
        </div>

    </div><div class="tiles__item">

        <a href="https://www.qld.gov.au/data/news-and-events/help-us-georeference-queenslands-historical-maps" aria-label="Link to Old maps, new tricks!" title="Old maps, new tricks!" class="tiles__img" style="background-image: url('https://www.qld.gov.au/__data/assets/image/0018/102753/georeference.PNG');"></a>

        <div class="tiles__title">
            <a href="https://www.qld.gov.au/data/news-and-events/help-us-georeference-queenslands-historical-maps">Old maps, new tricks!</a>
        </div>

        <div class="tiles__sub-title">
            <a href="https://www.qld.gov.au/data/news-and-events">News and events</a>
        </div>

        <div class="tiles__content">
            <p>Thousands of historical maps hold enormous potential for Queenslanders. A new Queensland Government project looks to crowdsourcing as the solution.</p>
        </div>

        <div class="tiles__link">
            <a href="https://www.qld.gov.au/data/news-and-events/help-us-georeference-queenslands-historical-maps">Read more</a>
        </div>

    </div><div class="tiles__item">

        <a href="https://www.qld.gov.au/data/case-studies/mobility-and-community-networks" aria-label="Link to City on the move - Studying Brisbane’s community networks " title="City on the move - Studying Brisbane’s community networks " class="tiles__img" style="background-image: url('https://www.qld.gov.au/__data/assets/image/0020/102746/city.PNG');"></a>

        <div class="tiles__title">
            <a href="https://www.qld.gov.au/data/case-studies/mobility-and-community-networks">City on the move - Studying Brisbane’s community networks </a>
        </div>

        <div class="tiles__sub-title">
            <a href="https://www.qld.gov.au/data/case-studies">Case studies</a>
        </div>

        <div class="tiles__content">
            <p>Studying Brisbane’s community networks using open data to map local movements.</p>
        </div>

        <div class="tiles__link">
            <a href="https://www.qld.gov.au/data/case-studies/mobility-and-community-networks">Read more</a>
        </div>

    </div><div class="tiles__item">

        <a href="https://www.qld.gov.au/data/case-studies/Queensland-Globe" aria-label="Link to Mapping new territory with the Queensland Globe" title="Mapping new territory with the Queensland Globe" class="tiles__img" style="background-image: url('https://www.qld.gov.au/__data/assets/image/0017/102509/qld-globe.jpg');"></a>

        <div class="tiles__title">
            <a href="https://www.qld.gov.au/data/case-studies/Queensland-Globe">Mapping new territory with the Queensland Globe</a>
        </div>

        <div class="tiles__sub-title">
            <a href="https://www.qld.gov.au/data/case-studies">Case studies</a>
        </div>

        <div class="tiles__content">
            <p>The Queensland Government's online interactive mapping tool providing benefits through open data.</p>
        </div>

        <div class="tiles__link">
            <a href="https://www.qld.gov.au/data/case-studies/Queensland-Globe">Read more</a>
        </div>

    </div>
    <div class="tiles__item tiles__item--bg-title">

        <div class="tiles__title">Popular datasets</div>

        <div class="tiles__content">
            <ul><li><a href="/dataset/active-mobile-speed-camera-sites">Mobile speed camera sites</a></li><li><a href="/dataset/crash-data-from-queensland-roads">Crash data - Queensland roads</a></li><li><a href="/dataset/fireworks">Upcoming fireworks displays</a></li><li><a href="/dataset/groundwater-database-queensland">Groundwater Database</a></li><li><a href="/dataset/rural-properties-queensland">Rural properties</a></li><li><a href="/dataset/jp-or-cdec-location">JP and CDec signing locations</a></li><li><a href="/dataset/business-discount-directory">Business Discount Directory</a></li><li><a href="/dataset/coastal-data-system-near-real-time-wave-data">Near real-time wave data</a></li><li><a href="/dataset/queensland-government-contracts-directory-awarded-contracts">QGov awarded contracts</a></li></ul>
        </div>

    </div><div class="tiles__item tiles__item--bg-title tiles__item--twitter">
        <div class="tiles__title">Tweets by @OpenDataQld</div>
        <div class="tiles__content">
            <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/OpenDataQld">A Twitter List by OpenDataQld</a>
            <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>


                    </div><!-- .tiles -->

                </div>
            </article>
        </div>
        <!-- .container -->
    </div>
</div>
{% endblock %}
