{% ckan_extends %}

{% block meta %}
{{ super() }}
<meta name="DCTERMS.title" content="{{ pkg['title'] or pkg['name'] }}" />

{% if pkg['organization'] and pkg['organization']['title'] %}
  <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou={{ pkg['organization']['title'] }}" />
{% endif %}
<meta name="DCTERMS.created" content="{{ h.render_datetime(pkg['metadata_created'], date_format='%Y-%m-%d') or _('unknown') }}" />
<meta name="DCTERMS.modified" content="{{ h.render_datetime(pkg['metadata_modified'] or pkg['metadata_created'], date_format='%Y-%m-%d') or _('unknown') }}" />
<meta name="DCTERMS.description" content="{{ (pkg['notes'] or pkg['title'] or pkg['name']) | truncate(500) }}" />
<meta name="DCTERMS.identifier" content="{{ pkg['id'] }}" />

<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="index" />
{% endblock %}
