{% ckan_extends %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block meta %}
{{ super() }}
<meta name="DCTERMS.title" content="{{ h.resource_display_name(res) }}" />

{% if pkg['organization'] and pkg['organization']['title'] %}
  <meta name="DCTERMS.creator" content="c=AU; o=The State of Queensland; ou={{ pkg['organization']['title'] }}" scheme="AGLSTERMS.GOLD" />
{% endif %}

<meta name="DCTERMS.created" content="{{ h.render_datetime(res.created, date_format='%Y-%m-%d') or _('unknown') }}" />
<meta name="DCTERMS.modified" content="{{ h.render_datetime(res.metadata_modified or res.last_modified or res.created, date_format='%Y-%m-%d') or _('unknown') }}" />
<meta name="DCTERMS.description" content="{{ (res.description or res.name) | truncate(500) }}" />
<meta name="DCTERMS.identifier" content="{{ res.id }}" />

<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="dataset" />
{% endblock %}

{% block subtitle %}{{ h.resource_display_name(res) }} - {{ h.dataset_display_name(c.package) }}{% endblock %}

{% block breadcrumb_content %}
    {% set index_route_name = 'organization.index' %}
    {% set org_route_name = 'organization.read' %}
    <li>{% link_for _('Organizations'), named_route=index_route_name %}</li>
    <li>{% link_for pkg.organization.title, named_route=org_route_name, id=pkg.organization.name %}</li>
    {% set dataset_read_route = 'dataset.read' %}
    <li class="active"><a href="{{ h.url_for(dataset_read_route, id=pkg.name) }}">{{ pkg.title }}</a></li>
    <li class="active"><a href="">{{ h.resource_display_name(res) }}</a></li>
{% endblock %}

{#
We want the sidebar next to the resource, not underneath,
so we move the resource from 'pre_primary' to 'primary_content'.
#}
{% block pre_primary %}
{% endblock %}
{% block primary_content %}
  {% block resource %}
    {{ super() }}
  {% endblock %}
  {% block resource_additional_information_inner %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{# Customise appearance of some buttons #}
{% block resource_actions %}
  <ul>
  {% block resource_actions_inner %}
    {% block action_manage %}{{ super() }}{% endblock action_manage %}
    {% if res.url and h.is_url(res.url) %}
      <li>
        <div class="btn-group">
          <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }} resource-btn" href="{{ res.url }}">
            {% if res.resource_type in ('listing', 'service') %}
              <i class="fa fa-eye"></i> {{ _('View') }}
            {% elif res.resource_type == 'api' %}
              <i class="fa fa-key"></i> {{ _('API Endpoint') }}
            {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
              <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
            {% else %}
              <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
                  {% if res.actual_size or res.size %}({{ res.actual_size or h.format_resource_filesize(res.size) }}){% endif %}
                  {% if res.format %}({{ res.format }}){% endif %}
            {% endif %}
          </a>
          {% block download_resource_button %}
            {{ super() }}
          {% endblock %}
        </div>
      </li>
    {% endif %}
  {% endblock %}
</ul>
{% endblock %}

{% block resource_read_title %}
  <h1 class="page-heading">
    {% if res.qld_hidden %}
      <span class="dataset-private label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _("Hidden") }}
      </span>
    {% endif %}

    {{ h.resource_display_name(res)}}

    {% if res.schema %}
      {{ h.get_validation_badge(res)|safe }}
      {% set type = 'asset' %}
      {% include 'validation/snippets/validation_report_' ~ type ~ '.html' %}
    {% endif %}
  </h1>
{% endblock %}
