{% ckan_extends %}

{% block meta %}
{{ super() }}
<meta name="DCTERMS.title" content="{{ _('Datasets') }}" />

<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland;" />
<meta name="DCTERMS.description" content="List of all datasets" />

<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="index" />
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {# change is inject label_function #}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, label_function=h.data_qld_geoscience_custom_label_function) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

