{% ckan_extends %}

{% block image %}

{% endblock %}

{% block description %}
    {% if organization.description %}
        <p>
        {{ h.markdown_extract(organization.description, 180) }}
        {% if h.ckan_version() > '2.9' %}
          {% link_for _('read more'), named_route='organization.about', id=organization.name %}
        {% else %}
          {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
        {% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block package_openness %}

{% endblock %}
