{% ckan_extends %}

{% block breadcrumb_content %}
    <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
    <li>{% link_for pkg.organization.title, controller='organization', action='read', id=pkg.organization.name %}</li>
    <li class="active"><a href="{{ h.url_for(controller='package', action='read', id=pkg.name) }}">{{ pkg.title }}</a></li>
{% endblock %}

{% block package_notes %}

    {% resource "odi_certificates/odi_certificate.js" %}
    {% resource "odi_certificates/odi_certificate.css" %}

    <div id="odi_certificates"
      data-module="odi_certificates"
      data-module-certificate_api_urls="{{ h.odi_certificates_certificate_api_urls()}}"">
        {% snippet "package/snippets/odi_certificate.html" %}
    </div>

    {{ super() }}

{% endblock %}