{% ckan_extends %}

{% block breadcrumb_content %}
    <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
    <li>{% link_for pkg.organization.title, controller='organization', action='read', id=pkg.organization.name %}</li>
    <li class="active"><a href="{{ h.url_for(controller='package', action='read', id=pkg.name) }}">{{ pkg.title }}</a></li>
{% endblock %}

{% block package_notes %}
    <section>
      {{ h.qa_openness_stars_dataset_html(pkg) }}
    </section>
 {{ super() }}
{% endblock %}

