{% ckan_extends %}

{%- block resource_last_updated -%}
  <tr>
    <th scope="row">{{ _('Last updated') }}</th>
     <td>{{ h.render_datetime(h.maximum_of(res, 'last_modified', 'revision_timestamp', 'created', 'Created', 'validation_timestamp')) or _('unknown') }}</td>
  </tr>
{%- endblock -%}
{%- block resource_created -%}
  <tr>
    <th scope="row">{{ _('Created') }}</th>
    <td>{{ h.render_datetime(res.created or res.Created) or _('unknown') }}</td>
  </tr>
{%- endblock -%}

{%- block resource_fields -%}

  {%- if 'schema' not in res -%}
    {%- do exclude_fields.append('schema') -%}
    {%- do exclude_fields.append('validation_options') -%}
    {%- do exclude_fields.append('validation_status') -%}
    {%- do exclude_fields.append('validation_timestamp') -%}
  {%- endif -%}

  {%- if 'validation_options' not in res and 'validation_options' not in exclude_fields -%}
    {%- do exclude_fields.append('validation_options') -%}
  {%- endif -%}

 {{ super() }}
{%- endblock -%}
