{#
Renders a media item for a group. This should be used in a list.

group - A group dict.

Example:

    <ul class="media-grid">
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </ul>
#}
{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
{% block item %}
<tr>

  {% block item_inner %}
    {% block image %}
    {% endblock %}
    {% block title %}
    <td>
      <a href="{{ url }}" title="{{ _('View {name}').format(name=h.get_translated(group, 'title') or group.display_name) }}">
        {{ h.get_translated(group, 'title') or group.display_name }}
      </a>
    </td>
    {% endblock %}
    {% block description %}
    {% endblock %}
    {% block datasets %}
      <td>
        {% if c.controller in ['package', 'dataset'] and c.action in ['groups'] %}
          <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-small media-edit" title="{{ _('Remove dataset from this group') }}"/>
        {% elif group.package_count %}
          <span class="count">{{ group.package_count }}</span>
        {% elif group.package_count == 0 %}
          <span class="count">{{ _('0') }}</span>
        {% endif %}
      </td>
    {% endblock %}
    {% block link %}
    {% endblock %}
  {% endblock %}
</tr>
{% endblock %}
