{% ckan_extends %}

  {% block package_basic_fields_tags %}
    <div class="control-group control-full form-group">
      <label class="control-label" for="field-accepted_dataset_id">{{ _("Accepted dataset") }}</label>
      <div class="controls">
        <select id="field-accepted_dataset_id" name="accepted_dataset_id" data-module="autocomplete">
    	  <option value="" selected="selected">No Dataset</option>
          {% for dataset in datasets  %}
            <option value="{{ dataset.get('name') }}">{{ dataset.get('title') }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      <button class="btn btn-danger" type="submit" name="close">{{ _('Close data request') }}</button>
    </div>
  {% endblock %}
