{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}

{{ form.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], error=error, classes=['control-medium']) }}

{{ form.input('ckan.site_description', id='field-ckan-site-description', label=_('Site Tag Line'), value=data['ckan.site_description'], error=error, classes=['control-medium']) }}

{% set field_url = 'ckan.site_logo' %}
{% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
{% set is_url = data[field_url] and data[field_url].startswith('http') %}
{{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Site logo'), url_label=_('Site logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}

{{ form.markdown('ckan.site_about', id='field-ckan-site-about', label=_('About'), value=data['ckan.site_about'], error=error, placeholder=_('About page text')) }}

{{ form.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro Text'), value=data['ckan.site_intro_text'], error=error, placeholder=_('Text on home page')) }}

{{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Homepage'), options=homepages, selected=data['ckan.homepage_style'], error=error) }}

{% if h.profanity_checking_enabled() %}
    {{-
        form.textarea(
            'ckan.comments.profanity_list',
            id='field-ckan-comments-profanity-list',
            label=_('Comments - custom profanity list (one word per line)'),
            placeholder=_('e.g.\nkittens\nbunnies\n'),
            value=data['ckan.comments.profanity_list'],
            error=errors['ckan.comments.profanity_list']
        )
    -}}
{% endif %}

{{ form.textarea('ckanext.data_qld.resource_formats', id='field-ckanext.data_qld.resource_formats', label=_('Resource formats'), placeholder=_('eg. CSV, DOCX, HTML, PDF'), value=data['ckanext.data_qld.resource_formats'], error=errors['ckanext.data_qld.resource_formats']) }}

{{ form.markdown('ckanext.data_qld.datarequest_suggested_description', id='field-ckanext.data_qld.datarequest_suggested_description', label=_('Data request suggested description'), placeholder=_('eg. Data Request suggested description'), value=data['ckanext.data_qld.datarequest_suggested_description'], error=errors['ckanext.data_qld.datarequest_suggested_description']) }}

{% endblock %}


{% block admin_form_help %}

{% set about_url = h.url_for(controller='home', action='about') %}
{% set home_url = h.url_for(controller='home', action='index') %}
{% set docs_url = "http://docs.ckan.org/en/{0}/theming".format(g.ckan_doc_version) %}
{% trans %}
<p><strong>Site Title:</strong> This is the title of this CKAN instance
    It appears in various places throughout CKAN.</p>
<p><strong>Site Tag Logo:</strong> This is the logo that appears in the
    header of all the CKAN instance templates.</p>
<p><strong>About:</strong> This text will appear on this CKAN instances
    <a href="{{ about_url }}">about page</a>.</p>
<p><strong>Intro Text:</strong> This text will appear on this CKAN instances
    <a href="{{ home_url }}">home page</a> as a welcome to visitors.</p>
<p><strong>Homepage:</strong> This is for choosing a predefined layout for
    the modules that appear on your homepage.</p>
<p><strong>Data Request Suggested Description:</strong> Guidance on what information to include</p>
{% endtrans %}

{% endblock %}
