<div id="modal-deletion-reason" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <br /><br />
      </div>
      <div class="modal-reason">
        Briefly describe the reason for deleting this dataset:<br />
        <input
          id="deletion-reason"
          name="deletion_reason"
          type="text"
          class="form-control"
          maxlength="250"
        />
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-cancel"></button>
        <button disabled="disabled" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>

