{% ckan_extends %}


{% block delete_button %}
  {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' and not h.data_qld_data_driven_application(data.data_driven_application)  %}
    <a id='dataset-delete-button' disabled="disabled"
        class="btn btn-danger pull-left"
        {% if h.ckan_version() > '2.9' %}
          href="{{ h.url_for('dataset.delete', id=data.id) }}"
        {% else %}
          href="{% url_for controller='package', action='delete', id=data.id %}"
        {% endif %}
        data-module="confirm-action"
        data-module-content="{{ _('Deleting this dataset will prevent future use of the dataset’s name. It is highly recommended that dataset issues are rectified rather than deleting and creating a new dataset with the same information.') }}"
        data-module-template="{{ h.get_deletion_reason_template() }}">
        {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
    </a>
    {% resource 'data_qld_theme/dataset-deletion.js' %}
  {% endif %}
{% endblock %}
