{% import 'macros/form.html' as form %}

<h1>Admin Report</h1>

<p>This report displays administrative information for data published on the Queensland Government open data portal.</p>

<p>Export a CSV of data relevant to all organisations for which you are responsible.</p>

<p><a href="/dashboard/reporting/export?start_date={{ start_date }}&end_date={{ end_date }}&report_type={{report_type}}" class="btn btn-primary">Export</a></p>

<hr />

<p>Generate a table on this page by selecting the specific organisation for which you want to view data.</p>

<form action="/dashboard/reporting" method="get">
    {{ form.hidden('report_type', report_type) }}
    <div class="row">
        <div class="col-sm-6">
            {% set attrs = {'data-module': 'autocomplete'} %}
            {{ form.select('organisation', label=_('Organisations'), options=organisations, selected=org_id, attrs=attrs) }}
        </div>
    </div>
    <div class="row">
        <div class="form-actions col-sm-2">
            <button class="btn btn-primary form-control">Show</button>
        </div>
    </div>
</form>

{% if org_id and metrics %}
    <hr>

    <h2>Organisation: {{ org_title }}</h2>

    <table class="table table-striped table-bordered tabular-report">
        <thead>
            <th width="75%">Criteria</th>
            <th width="25%">Figure</th>
        </thead>
        <tbody>
            {% snippet "reporting/snippets/linked_metric.html",
                metric="de-identified-datasets-without-default-schema",
                label='De-identified datasets without default data schema (post-{})'.format(h.get_deidentified_count_from_date()),
                count=metrics.de_identified_datasets_no_schema,
                link='/dashboard/reporting/datasets/{org_id}/{metric}?report_type={report_type}'
                    .format(org_id=org_id, metric="de_identified_datasets_no_schema", report_type=report_type),
                report_type=report_type %}
            {% snippet "reporting/snippets/linked_metric.html",
                metric="de-identified-datasets",
                label='De-identified Datasets',
                count=metrics.de_identified_datasets,
                link='/dashboard/reporting/datasets/{org_id}/{metric}?report_type={report_type}'
                    .format(org_id=org_id, metric="de-identified-datasets", report_type=report_type),
                report_type=report_type %}
            {% snippet "reporting/snippets/linked_metric.html",
                metric="overdue-datasets",
                label='Overdue Datasets',
                count=metrics.overdue_datasets,
                link='/dashboard/reporting/datasets/{org_id}/{metric}?report_type={report_type}'
                    .format(org_id=org_id, metric="overdue-datasets", report_type=report_type),
                report_type=report_type %}
            {% snippet "reporting/snippets/linked_metric.html",
                metric="datasets_no_groups",
                label='Datasets not added to group/s',
                count=metrics.datasets_no_groups,
                link='/dashboard/reporting/datasets/{org_id}/{metric}?report_type={report_type}'
                    .format(org_id=org_id, metric="datasets_no_groups", report_type=report_type),
                report_type=report_type %}
            {% snippet "reporting/snippets/linked_metric.html",
                metric="datasets_no_tags",
                label='Datasets with no tags',
                count=metrics.datasets_no_tags,
                link='/dashboard/reporting/datasets/{org_id}/{metric}?report_type={report_type}'.format(
                    org_id=org_id, metric="datasets_no_tags", report_type=report_type),
                report_type=report_type %}
        </tbody>
    </table>
{% endif %}
