{% for row in h.get_closing_circumstance_list() %}
    {% set data = datarequests.circumstances[row.circumstance]|default(None) %}
    {% if row.condition == 'nominate_approximate_date' %}
        {% set url = h.url_for(
            controller='ckanext.data_qld.reporting.controller:ReportingController',
            action='datarequests',
            org_id=org_id,
            metric='closed') + '?start_date=' + start_date + '&end_date=' + end_date + '&circumstance=' + row.circumstance
        %}
    {% else %}
        {% set url = None %}
    {% endif %}
    <tr class="closing-circumstance">
        <td>
            {% if url %}
                <a href="{{ url }}">{{ row.circumstance }}</a>
            {% else %}
                {{ row.circumstance }}
            {% endif %}
        </td>
        <td>
            {% if url %}
                <a href="{{ url }}">{{ data.count|default(0) }}</a>
            {% else %}
                {{ data.count|default(0) }}
            {% endif %}
        </td>
        <td>
            {{ data.average|default('-') }}
        </td>
    </tr>
{% endfor %}
