{% import 'macros/form.html' as form %}
{% import 'macros/data_qld_form.html' as data_qld_form %}


{%- set field_options = h.data_qld_get_select_field_options(field.field_name) -%}
{%- set pkg_dict = h.data_qld_get_package_dict(data['package_id']) -%}
{%- set required = false %}

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}

{%- for choice in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or choice.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': choice.value,
      'text': h.scheming_language_text(choice.label),
      'attrs': {}
      }) -%}
  {%- endif -%}
{%- endfor -%}
{%- if field.get('sorted_choices') -%}
  {%- set options = options|sort(case_sensitive=false, attribute='text') -%}
{%- endif -%}

{% call data_qld_form.select_with_disabled(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected='' if required else data[field.field_name],
    error=errors[field.field_name],
    classes=['control-medium'],
    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
    is_required=required
    )
%}

{{- form.info(
    text=field.help_text|safe,
    inline=field.get('help_inline', false)
    ) -}}
{% endcall %}