---
name: Tests
on:
  push:
  pull_request:
    branches:
      - master

jobs:
  # Quick check so we don't waste minutes if there's a Flake8 error
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install requirements
        run: pip install flake8 pycodestyle
      - name: Check syntax
        run: flake8

  test:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        ckan-version: ["2.10", 2.9]
        solr-version: ["8"]
        behave-tag: [smoke, unauthenticated, multi_plugin, OpenData, authenticated]
        experimental: [false]
        include:
          - ckan-version: '2.11'
            solr-version: "9"
            experimental: true
          - ckan-version: 'master'
            solr-version: "9"
            experimental: true  #master is unstable, good to know if we are compatible or not

    name: Run ${{ matrix.behave-tag }} tests on CKAN ${{ matrix.ckan-version }}
    runs-on: ubuntu-latest
    container: drevops/ci-runner:23.12.0
    env:
      CKAN_VERSION: ${{ matrix.ckan-version }}
      SOLR_VERSION: ${{ matrix.solr-version }}
      BEHAVE_TAG: ${{ matrix.behave-tag }}

    steps:
      # Patch https://github.com/actions/runner/issues/863
      - name: Preserve $HOME set in the container
        run: echo HOME=/root >> "$GITHUB_ENV"

      - uses: actions/checkout@v4
        continue-on-error: ${{ matrix.experimental }}
        timeout-minutes: 2

      - name: Build
        run: bin/build.sh
        timeout-minutes: 15
        continue-on-error: ${{ matrix.experimental }}

      - name: Unit tests
        if: ${{ matrix.behave-tag == 'smoke' }}
        run: bin/test.sh
        timeout-minutes: 15
        continue-on-error: ${{ matrix.experimental }}

      - name: Test ${{ matrix.behave-tag }} BDD
        run: bin/test-bdd.sh
        timeout-minutes: 45
        continue-on-error: ${{ matrix.experimental }}

      - name: Retrieve logs
        if: always()
        run: ahoy logs
        timeout-minutes: 1
        continue-on-error: ${{ matrix.experimental }}

      - name: Retrieve results
        if: always()
        run: bin/process-artifacts.sh
        timeout-minutes: 1
        continue-on-error: ${{ matrix.experimental }}

      - name: Test Summary
        uses: test-summary/action@v2
        continue-on-error: ${{ matrix.experimental }}
        with:
          paths: "/tmp/artifacts/junit/*.xml"
        if: always()

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: CKAN ${{ matrix.ckan-version }} ${{ matrix.behave-tag }} screenshots
          path: /tmp/artifacts/behave/screenshots
        timeout-minutes: 1
        continue-on-error: ${{ matrix.experimental }}
