---
name: Tests
on:
  push:
  pull_request:
    branches:
      - master

jobs:
  # Quick check so we don't waste minutes if there's a Flake8 error
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install requirements
        run: pip install flake8 pycodestyle
      - name: Check syntax
        run: flake8

  test:
    needs: lint
    strategy:
      fail-fast: true
      matrix:
        ckan-version: [2.9, 2.9-py2]
        behave-tag: [smoke, authenticated, unauthenticated]

    name: Run ${{ matrix.behave-tag }} tests on CKAN ${{ matrix.ckan-version }}
    runs-on: ubuntu-latest
    container: drevops/ci-builder
    env:
      CKAN_VERSION: ${{ matrix.ckan-version }}
      BEHAVE_TAG: ${{ matrix.behave-tag }}

    steps:
      - uses: actions/checkout@v3
        timeout-minutes: 2

      - name: Build
        run: bin/build.sh
        timeout-minutes: 15

      - name: Unit tests
        if: ${{ matrix.behave-tag == 'smoke' }}
        run: bin/test.sh
        timeout-minutes: 10

      - name: Test ${{ matrix.behave-tag }} BDD
        run: bin/test-bdd.sh
        timeout-minutes: 45

      - name: Retrieve logs
        if: always()
        run: bin/get-logs.sh
        timeout-minutes: 5

      - name: Retrieve screenshots
        if: always()
        run: bin/process-artifacts.sh
        timeout-minutes: 1

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: CKAN ${{ matrix.ckan-version }} ${{ matrix.behave-tag }} screenshots
          path: /tmp/artifacts/behave/screenshots
        timeout-minutes: 1
